﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a:hover {
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-out; }

a:hover {
  text-decoration: none; }

@media only screen and (max-width: 768px) {
  html {
    overflow-x: hidden; } }

/*--------------------------------------------CODDING------------------------------------------*/
.fixed-header {
  position: fixed !important;
  top: 0;
  z-index: 999;
  background: #fff;
  transition: .1s ease-out; }

.main-block {
  max-width: 1230px;
  margin: auto; }
  .main-block .card {
    border: none;
    outline: none;
    border-radius: unset; }
    .main-block .card .card-img-top {
      border-radius: unset;
      cursor: pointer; }

/*--------------------------------------------------------------------------------TOP BAR----------------------------------------------------------------------------------*/
.overlay-header {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  opacity: 0;
  visibility: hidden; }

.show-with-only-opacity {
  opacity: 1 !important;
  visibility: visible !important; }

.change-rotate {
  transform: rotate(90deg) !important; }

.top-bar {
  background: #121213;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .top-bar {
      display: none; } }
  .top-bar-nav {
    max-width: 1230px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; }
    .top-bar-nav__right a:hover {
      color: #FF2C54; }
    .top-bar-nav ul {
      display: flex; }
      .top-bar-nav ul li {
        padding-left: 20px; }
        .top-bar-nav ul li a {
          color: #fff;
          text-decoration: none;
          transition: .3s ease-out;
          font-size: 14px; }
          .top-bar-nav ul li a:hover {
            text-decoration: none; }
      .top-bar-nav ul li:first-child {
        padding-left: unset; }

/*--------------------------------------------------------------------------------MAIN HEADER-------------------------------------------------------------------------------*/
.main-header {
  width: 100%;
  border: 1px solid #f0f0f0;
  position: relative; }
  .main-header-nav {
    max-width: 1230px;
    height: 86px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .main-header-nav {
        padding: 0px 10px; } }
    .main-header-nav__left {
      flex: 1;
      margin-left: 40px; }
      @media only screen and (max-width: 768px) {
        .main-header-nav__left {
          display: none; } }
      .main-header-nav__left li {
        padding-left: 30px; }
        .main-header-nav__left li:first-child {
          padding-left: 0; }
      .main-header-nav__left .dropdown-for-child {
        position: absolute;
        width: 250px;
        margin: 32px 0;
        transition: .4s;
        background: #fff;
        -webkit-box-shadow: 0px 0px 35px 4px rgba(125, 125, 125, 0.3);
        box-shadow: 0px 0px 35px 4px rgba(125, 125, 125, 0.3);
        z-index: 99999;
        opacity: 0;
        visibility: hidden; }
        .main-header-nav__left .dropdown-for-child .list-group-item {
          padding: .75rem 1.25rem !important;
          border: none; }
      .main-header-nav__left a {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        color: #121213;
        line-height: 24px;
        position: relative; }
        .main-header-nav__left a:before {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0%;
          height: .15rem;
          background: #121213;
          transition: .3s ease-out;
          opacity: 0;
          visibility: hidden; }
        .main-header-nav__left a:hover {
          text-decoration: none; }
        .main-header-nav__left a:hover:before {
          animation: hover_to_nav_left 1s forwards; }

@keyframes hover_to_nav_left {
  0% {
    width: 0%;
    opacity: 0;
    visibility: hidden; }
  100% {
    width: 100%;
    opacity: 1;
    visibility: visible; } }
    .main-header-nav__right li {
      padding-left: 20px; }
      .main-header-nav__right li:first-child {
        padding-left: unset; }
    .main-header-nav__right button {
      color: #1E1E1F;
      transition: .3s ease-out;
      background-color: transparent;
      border: none;
      outline: none; }
      .main-header-nav__right button:hover {
        color: #FF4367; }
      .main-header-nav__right button .fa {
        font-size: 21px;
        position: relative; }
        .main-header-nav__right button .fa .badge {
          position: absolute;
          top: -2px;
          right: -5px;
          padding: 0px 5px;
          border-radius: 50%;
          background-color: #f00;
          color: #fff;
          font-size: 8px;
          line-height: 16px; }
    .main-header-nav ul {
      display: flex; }
  .main-header .search-form-box {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: #F9F9F9;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s; }
    .main-header .search-form-box__hidden {
      width: 60%;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .main-header .search-form-box__hidden input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: 0 0;
        border-bottom: 1px solid #121213;
        padding: .4rem 0;
        padding-right: 3rem; }
      .main-header .search-form-box__hidden button {
        border: none;
        outline: none;
        background-color: transparent;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 8px 0px; }
        .main-header .search-form-box__hidden button .fa {
          font-size: 18px;
          line-height: 18px;
          color: #D4D8DB;
          transition: .3s ease-in; }
          .main-header .search-form-box__hidden button .fa:hover {
            color: #FF2C54; }
    .main-header .search-form-box__close {
      position: relative;
      float: right;
      clear: both;
      right: 51px;
      bottom: 10px; }
      .main-header .search-form-box__close button {
        background-color: transparent;
        border: none;
        outline: none; }
        .main-header .search-form-box__close button .fa {
          font-size: 24px;
          transition: .3s ease-in; }
          .main-header .search-form-box__close button .fa:hover {
            color: #FF2C54; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 99999999; }
  .sidenav .gap {
    width: 100%;
    height: 100px; }
    @media only screen and (max-width: 768px) {
      .sidenav .gap {
        height: 150px; } }
    @media only screen and (max-width: 576px) {
      .sidenav .gap {
        height: 200px; } }
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px; } }
  .sidenav .close-btn {
    position: absolute;
    top: 45px;
    right: 45px;
    font-size: 36px;
    margin-left: 50px;
    transition: .3s ease-out;
    overflow: hidden; }
    .sidenav .close-btn a {
      color: #121213; }
      .sidenav .close-btn a:hover {
        text-decoration: none; }
    .sidenav .close-btn:hover {
      text-decoration: none;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .sidenav .search-form-box {
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 100px; }
    .sidenav .search-form-box__hidden {
      width: 80%;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .sidenav .search-form-box__hidden input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: 0 0;
        border-bottom: 1px solid #121213;
        padding: .4rem 0;
        padding-right: 3rem; }
      .sidenav .search-form-box__hidden button {
        border: none;
        outline: none;
        background-color: transparent;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 8px 0px; }
        .sidenav .search-form-box__hidden button .fa {
          font-size: 18px;
          line-height: 18px;
          color: #D4D8DB;
          transition: .3s ease-in; }
          .sidenav .search-form-box__hidden button .fa:hover {
            color: #FF2C54; }
      .sidenav .search-form-box__hidden .detail-cate-box {
        padding-top: 50px; }
        .sidenav .search-form-box__hidden .detail-cate-box .category {
          flex: 1; }
          .sidenav .search-form-box__hidden .detail-cate-box .category a {
            color: #121213;
            font-size: 36px;
            font-weight: bold;
            text-transform: capitalize;
            line-height: 1.5;
            transition: .3s; }
            .sidenav .search-form-box__hidden .detail-cate-box .category a:hover {
              text-decoration: none;
              color: #FF1D50; }
        .sidenav .search-form-box__hidden .detail-cate-box .contact {
          flex: 1; }
          .sidenav .search-form-box__hidden .detail-cate-box .contact-add h4 {
            line-height: 2;
            font-size: 18px;
            font-weight: 600; }
          .sidenav .search-form-box__hidden .detail-cate-box .contact-add p {
            font-size: 15px;
            color: #6B7074;
            line-height: 28px; }
          .sidenav .search-form-box__hidden .detail-cate-box .contact-phone {
            margin-top: 30px; }
            .sidenav .search-form-box__hidden .detail-cate-box .contact-phone h4 {
              line-height: 2;
              font-size: 18px;
              font-weight: 600;
              transition: .3s; }
            .sidenav .search-form-box__hidden .detail-cate-box .contact-phone a {
              font-size: 16px;
              color: #494E51;
              line-height: 28px; }
              .sidenav .search-form-box__hidden .detail-cate-box .contact-phone a:hover {
                text-decoration: none;
                color: #FF1D50; }
          .sidenav .search-form-box__hidden .detail-cate-box .contact-share {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: 3.5rem; }
            .sidenav .search-form-box__hidden .detail-cate-box .contact-share h4 {
              margin-right: 2rem;
              margin-bottom: 2rem;
              font-weight: 600;
              font-size: 18px; }
            .sidenav .search-form-box__hidden .detail-cate-box .contact-share .social-share {
              margin-bottom: 1rem;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              list-style: none;
              padding: 0;
              margin: 0;
              overflow: hidden; }
              .sidenav .search-form-box__hidden .detail-cate-box .contact-share .social-share li {
                margin-right: 1rem; }
                .sidenav .search-form-box__hidden .detail-cate-box .contact-share .social-share li a {
                  display: block;
                  width: 2.6rem;
                  height: 2.6rem;
                  background: #121213;
                  border-radius: 100%;
                  font-size: 1.2rem;
                  line-height: 2.6rem;
                  color: #fff;
                  text-align: center;
                  transition: .3s ease-out; }
                  .sidenav .search-form-box__hidden .detail-cate-box .contact-share .social-share li a:hover {
                    background: #FF2C54;
                    color: #fff;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg); }

/*-----------------------------------------------------------------------------MAIN PAGE HOME PAGE---------------------------------------------------------------------------*/
.main-page-home-page section {
  margin-top: 60px; }

@media only screen and (max-width: 768px) {
  .main-page-home-page {
    padding: 10px; } }

.main-page-home-page .big-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 45px; }

.main-page-home-page .blog-news .recent h4 {
  font-size: 24px;
  font-weight: 600;
  color: #121213; }

.main-page-home-page .blog-news .recent a {
  font-size: 14px;
  font-weight: 600;
  color: #121213;
  transition: .3s ease-out; }
  .main-page-home-page .blog-news .recent a:hover {
    color: #FF1D50; }

.main-page-home-page .blog-news .big-news-blog-img {
  overflow: hidden;
  max-height: 600px;
  max-width: 600px; }

.main-page-home-page .blog-news .big-news-blog .card-body {
  padding: 27px 28px 0px 0px; }
  .main-page-home-page .blog-news .big-news-blog .card-body ul {
    display: flex;
    padding-top: 15px; }
    .main-page-home-page .blog-news .big-news-blog .card-body ul li {
      padding-right: 24px;
      font-size: 14px;
      color: #A6A9AB; }
      .main-page-home-page .blog-news .big-news-blog .card-body ul li a {
        color: #A6A9AB;
        transition: .3s ease-out; }
        .main-page-home-page .blog-news .big-news-blog .card-body ul li a:hover {
          text-decoration: none;
          color: #FF1D50; }

.main-page-home-page .blog-news .big-news-blog .big-title {
  color: #121213;
  transition: .3s ease-out; }
  .main-page-home-page .blog-news .big-news-blog .big-title:hover {
    color: #FF1D50;
    text-decoration: none; }

.main-page-home-page .blog-news .big-news-blog .card-img-top {
  transition: .3s ease-out; }
  .main-page-home-page .blog-news .big-news-blog .card-img-top:hover {
    transform: scale(1.1); }

@media only screen and (max-width: 768px) {
  .main-page-home-page .blog-news .right-news-box {
    padding-top: 25px; } }

.main-page-home-page .blog-news .right-news-box .col-12 {
  padding-bottom: 25px; }

.main-page-home-page .blog-news .right-news-box .recent h4 {
  font-size: 24px;
  font-weight: 600;
  color: #121213; }

.main-page-home-page .blog-news .right-news-box .recent a {
  font-size: 14px;
  font-weight: 600;
  color: #121213;
  transition: .3s ease-out; }
  .main-page-home-page .blog-news .right-news-box .recent a:hover {
    color: #FF1D50; }

.main-page-home-page .blog-news .right-news-box .small-news-blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .main-page-home-page .blog-news .right-news-box .small-news-blog .small-news-blog-img {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    flex: 1; }
    .main-page-home-page .blog-news .right-news-box .small-news-blog .small-news-blog-img img {
      transition: .3s; }
    .main-page-home-page .blog-news .right-news-box .small-news-blog .small-news-blog-img:hover img {
      transform: scale(1.1); }
  .main-page-home-page .blog-news .right-news-box .small-news-blog .box-text {
    flex: 1;
    margin-left: 30px; }
    .main-page-home-page .blog-news .right-news-box .small-news-blog .box-text-list {
      margin: 3px 1rem 1rem 0; }
      .main-page-home-page .blog-news .right-news-box .small-news-blog .box-text-list a {
        background-color: #5856D5;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        padding: 3px 10px; }
    .main-page-home-page .blog-news .right-news-box .small-news-blog .box-text-title a {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #121213;
      transition: .3s ease-out; }
      .main-page-home-page .blog-news .right-news-box .small-news-blog .box-text-title a:hover {
        color: #FF1D50; }
    .main-page-home-page .blog-news .right-news-box .small-news-blog .box-text-author ul {
      display: flex;
      padding-top: 15px; }
      .main-page-home-page .blog-news .right-news-box .small-news-blog .box-text-author ul li {
        padding-right: 24px;
        font-size: 14px;
        color: #A6A9AB; }
        .main-page-home-page .blog-news .right-news-box .small-news-blog .box-text-author ul li a {
          color: #A6A9AB;
          transition: .3s ease-out; }
          .main-page-home-page .blog-news .right-news-box .small-news-blog .box-text-author ul li a:hover {
            text-decoration: none;
            color: #FF1D50; }

.main-page-home-page .top-stories {
  background: #F9F9F9;
  padding-top: 60px; }
  .main-page-home-page .top-stories .recent h4 {
    font-size: 24px;
    font-weight: 600;
    color: #121213; }
  .main-page-home-page .top-stories .recent a {
    font-size: 14px;
    font-weight: 600;
    color: #121213;
    transition: .3s ease-out; }
    .main-page-home-page .top-stories .recent a:hover {
      color: #FF1D50; }
  .main-page-home-page .top-stories .col-12 {
    padding-bottom: 30px; }
  .main-page-home-page .top-stories .right-stories-card:hover img {
    transform: scale(1.1); }
  .main-page-home-page .top-stories .right-stories-card-img {
    max-width: 810px;
    max-height: 610px;
    overflow: hidden;
    z-index: 1; }
    .main-page-home-page .top-stories .right-stories-card-img img {
      max-width: 810px;
      max-height: 610px; }
  .main-page-home-page .top-stories .right-stories-card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 31, 0.46);
    z-index: 2;
    cursor: pointer; }
  .main-page-home-page .top-stories .right-stories-card .box-text {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 51px;
    z-index: 3; }
    .main-page-home-page .top-stories .right-stories-card .box-text-list {
      margin-bottom: 10px; }
      .main-page-home-page .top-stories .right-stories-card .box-text-list a {
        background-color: #5856D5;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 3px 10px; }
    .main-page-home-page .top-stories .right-stories-card .box-text-title a {
      color: #fff;
      line-height: 33px; }
    .main-page-home-page .top-stories .right-stories-card .box-text-author ul {
      display: flex;
      padding-top: 15px; }
      .main-page-home-page .top-stories .right-stories-card .box-text-author ul li {
        padding-right: 24px;
        font-size: 14px;
        color: #CECED4; }
        .main-page-home-page .top-stories .right-stories-card .box-text-author ul li a {
          color: #CECED4;
          transition: .3s ease-out; }
          .main-page-home-page .top-stories .right-stories-card .box-text-author ul li a:hover {
            text-decoration: none;
            color: #FF1D50; }
  .main-page-home-page .top-stories .left-stories-card:hover img {
    transform: scale(1.1); }
  .main-page-home-page .top-stories .left-stories-card-img {
    max-width: 390px;
    max-height: 290px;
    overflow: hidden;
    z-index: 1; }
    .main-page-home-page .top-stories .left-stories-card-img img {
      max-width: 390px;
      max-height: 290px; }
  .main-page-home-page .top-stories .left-stories-card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 31, 0.46);
    z-index: 2;
    cursor: pointer; }
  .main-page-home-page .top-stories .left-stories-card .box-text {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 51px;
    z-index: 3; }
    .main-page-home-page .top-stories .left-stories-card .box-text-list {
      margin-bottom: 10px; }
      .main-page-home-page .top-stories .left-stories-card .box-text-list a {
        background-color: #5856D5;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 3px 10px; }
    .main-page-home-page .top-stories .left-stories-card .box-text-title a {
      color: #fff;
      font-size: 18px;
      line-height: 25px; }
    .main-page-home-page .top-stories .left-stories-card .box-text-author ul {
      display: flex;
      padding-top: 15px; }
      .main-page-home-page .top-stories .left-stories-card .box-text-author ul li {
        padding-right: 24px;
        font-size: 14px;
        color: #CECED4; }
        .main-page-home-page .top-stories .left-stories-card .box-text-author ul li a {
          color: #CECED4;
          transition: .3s ease-out; }
          .main-page-home-page .top-stories .left-stories-card .box-text-author ul li a:hover {
            text-decoration: none;
            color: #FF1D50; }

.main-page-home-page .video {
  background: #000000; }
  .main-page-home-page .video .main-block {
    padding: 60px 0px; }
  .main-page-home-page .video .recent h4 {
    font-size: 24px;
    font-weight: 600;
    color: #121213; }
  .main-page-home-page .video .recent a {
    font-size: 14px;
    font-weight: 600;
    color: #121213;
    transition: .3s ease-out; }
    .main-page-home-page .video .recent a:hover {
      color: #FF1D50; }
  .main-page-home-page .video .recent h4 {
    color: #fff; }
  .main-page-home-page .video .recent a {
    color: #fff; }
  .main-page-home-page .video .right-stories-card:hover img {
    transform: scale(1.1); }
  .main-page-home-page .video .right-stories-card-img {
    max-width: 1012px;
    max-height: 450px;
    overflow: hidden;
    z-index: 1; }
  .main-page-home-page .video .right-stories-card .play-video {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 31, 0.46);
    z-index: 2;
    cursor: pointer; }
    .main-page-home-page .video .right-stories-card .play-video a {
      color: #121213;
      font-size: 30px;
      background: #fff;
      padding: 30px 33px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9; }
      .main-page-home-page .video .right-stories-card .play-video a:hover {
        color: none;
        text-decoration: none; }
  .main-page-home-page .video .right-stories-card .box-text {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 51px;
    z-index: 3; }
    .main-page-home-page .video .right-stories-card .box-text-list {
      margin-bottom: 10px; }
      .main-page-home-page .video .right-stories-card .box-text-list a {
        background-color: #5856D5;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 3px 10px; }
    .main-page-home-page .video .right-stories-card .box-text-title a {
      color: #fff;
      line-height: 33px; }
    .main-page-home-page .video .right-stories-card .box-text-author ul {
      display: flex;
      padding-top: 15px; }
      .main-page-home-page .video .right-stories-card .box-text-author ul li {
        padding-right: 24px;
        font-size: 14px;
        color: #CECED4; }
        .main-page-home-page .video .right-stories-card .box-text-author ul li a {
          color: #CECED4;
          transition: .3s ease-out; }
          .main-page-home-page .video .right-stories-card .box-text-author ul li a:hover {
            text-decoration: none;
            color: #FF1D50; }
  @media only screen and (max-width: 768px) {
    .main-page-home-page .video .right-news-box {
      padding-top: 25px; } }
  .main-page-home-page .video .right-news-box .col-12 {
    padding-bottom: 25px; }
  .main-page-home-page .video .right-news-box .small-news-blog {
    display: flex;
    flex-direction: row; }
    .main-page-home-page .video .right-news-box .small-news-blog .small-news-blog-img {
      max-width: 100px;
      max-height: 100px;
      overflow: hidden;
      flex: 1;
      position: relative;
      z-index: 1; }
      .main-page-home-page .video .right-news-box .small-news-blog .small-news-blog-img .link-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2; }
      .main-page-home-page .video .right-news-box .small-news-blog .small-news-blog-img .play-video {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3; }
        .main-page-home-page .video .right-news-box .small-news-blog .small-news-blog-img .play-video a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: black;
          background: white;
          padding: 7.5px 8.5px;
          border-radius: 50%;
          font-size: 12px; }
      .main-page-home-page .video .right-news-box .small-news-blog .small-news-blog-img img {
        transition: .3s;
        width: 100%;
        height: 100%; }
      .main-page-home-page .video .right-news-box .small-news-blog .small-news-blog-img:hover img {
        transform: scale(1.1); }
    .main-page-home-page .video .right-news-box .small-news-blog .box-text {
      flex: 1;
      margin-left: 30px; }
      .main-page-home-page .video .right-news-box .small-news-blog .box-text-title a {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: #fff;
        transition: .3s ease-out; }
        .main-page-home-page .video .right-news-box .small-news-blog .box-text-title a:hover {
          color: #FF1D50; }
      .main-page-home-page .video .right-news-box .small-news-blog .box-text-author ul {
        display: flex;
        padding-top: 15px; }
        .main-page-home-page .video .right-news-box .small-news-blog .box-text-author ul li {
          padding-right: 24px;
          font-size: 14px;
          color: #A6A9AB; }
          .main-page-home-page .video .right-news-box .small-news-blog .box-text-author ul li a {
            color: #A6A9AB;
            transition: .3s ease-out;
            font-size: 12px; }
            .main-page-home-page .video .right-news-box .small-news-blog .box-text-author ul li a:hover {
              text-decoration: none;
              color: #FF1D50; }

@media only screen and (max-width: 768px) {
  .main-page-home-page .detail-news .right-news-box {
    padding-top: 25px; } }

.main-page-home-page .detail-news .right-news-box .col-12 {
  padding-bottom: 25px; }

.main-page-home-page .detail-news .right-news-box .recent h4 {
  font-size: 24px;
  font-weight: 600;
  color: #121213; }

.main-page-home-page .detail-news .right-news-box .recent a {
  font-size: 14px;
  font-weight: 600;
  color: #121213;
  transition: .3s ease-out; }
  .main-page-home-page .detail-news .right-news-box .recent a:hover {
    color: #FF1D50; }

.main-page-home-page .detail-news .right-news-box .small-news-blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media only screen and (max-width: 768px) {
    .main-page-home-page .detail-news .right-news-box .small-news-blog {
      flex-direction: column; }
    .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text {
      margin-left: unset !important; } }
  .main-page-home-page .detail-news .right-news-box .small-news-blog .small-news-blog-img {
    max-width: 356px;
    max-height: 356px;
    overflow: hidden;
    flex: 1; }
    @media only screen and (max-width: 768px) {
      .main-page-home-page .detail-news .right-news-box .small-news-blog .small-news-blog-img {
        max-width: 100%;
        max-height: 100%; } }
    .main-page-home-page .detail-news .right-news-box .small-news-blog .small-news-blog-img img {
      transition: .3s; }
    .main-page-home-page .detail-news .right-news-box .small-news-blog .small-news-blog-img:hover img {
      transform: scale(1.1); }
  .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text {
    flex: 1;
    margin-left: 30px; }
    .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-list {
      margin: 3px 1rem 1rem 0; }
      .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-list a {
        background-color: #5856D5;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        padding: 3px 10px; }
    .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-title a {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      color: #121213;
      transition: .3s ease-out; }
      .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-title a:hover {
        color: #FF1D50; }
    .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-author ul {
      display: flex;
      padding-top: 15px; }
      .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-author ul li {
        padding-right: 24px;
        font-size: 14px;
        color: #A6A9AB; }
        .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-author ul li a {
          color: #A6A9AB;
          transition: .3s ease-out; }
          .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-author ul li a:hover {
            text-decoration: none;
            color: #FF1D50; }
    .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-desc {
      padding-top: 10px; }
      .main-page-home-page .detail-news .right-news-box .small-news-blog .box-text-desc p {
        font-size: 16px;
        font-weight: 400;
        color: #494e51;
        line-height: 28px; }

.main-page-home-page .detail-news .col-form {
  background: #F9F9F9; }
  .main-page-home-page .detail-news .col-form .form-box {
    width: 100%;
    padding: 20px; }
    .main-page-home-page .detail-news .col-form .form-box .box-text .fa {
      font-size: 22px;
      font-weight: 400;
      color: #ff2c54;
      background: #FAE4E9;
      line-height: 62px;
      width: 60px;
      height: 60px;
      text-align: center;
      border-radius: 50%; }
    .main-page-home-page .detail-news .col-form .form-box .box-text h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      color: #121213;
      padding-bottom: 15px;
      padding-top: 15px; }
    .main-page-home-page .detail-news .col-form .form-box .box-text p {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #494e51;
      padding-bottom: 15px; }
    .main-page-home-page .detail-news .col-form .form-box .input {
      position: relative; }
      .main-page-home-page .detail-news .col-form .form-box .input:focus-within label {
        font-size: 12px;
        top: -8%;
        transform: translateY(0%);
        background-color: transparent;
        z-index: 9;
        background-color: #F9F9F9;
        padding: 0px 5px;
        color: #FF2C54; }
      .main-page-home-page .detail-news .col-form .form-box .input:focus-within input {
        border-color: #FF2C54; }
      .main-page-home-page .detail-news .col-form .form-box .input input {
        border: 2px solid #D3D7DA;
        width: 100%;
        height: 40px;
        padding-left: 5%;
        outline: none;
        -webkit-appearance: none;
        transition: .3s ease-out;
        background-color: transparent; }
      .main-page-home-page .detail-news .col-form .form-box .input label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
        font-size: 14px;
        font-weight: 400;
        color: #494e51;
        transition: .3s ease-out; }
    .main-page-home-page .detail-news .col-form .form-box .sub-box {
      padding-top: 15px; }
      .main-page-home-page .detail-news .col-form .form-box .sub-box .btn-sub {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 16px;
        color: #fff;
        border: none;
        outline: none;
        background: #FF2C54;
        padding: 11px 30px;
        z-index: 1;
        position: relative; }
        .main-page-home-page .detail-news .col-form .form-box .sub-box .btn-sub:before {
          content: "";
          width: 0%;
          height: 100%;
          background: #E5284B;
          position: absolute;
          top: 0;
          left: 0;
          transition: .3s ease-out;
          z-index: -1; }
        .main-page-home-page .detail-news .col-form .form-box .sub-box .btn-sub:hover:before {
          width: 100%; }

.main-page-home-page .detail-news .col-category {
  padding-top: 30px; }
  .main-page-home-page .detail-news .col-category h4 {
    font-size: 18px;
    font-weight: 600;
    color: #121213; }
  .main-page-home-page .detail-news .col-category .owl-nav {
    position: absolute;
    top: -17%;
    right: 0; }
    .main-page-home-page .detail-news .col-category .owl-nav button {
      border: none;
      outline: none; }
    .main-page-home-page .detail-news .col-category .owl-nav .nav-btn {
      background: #D3D7DA;
      padding: 6px 11px;
      color: #fff;
      transition: .3s ease-out; }
      .main-page-home-page .detail-news .col-category .owl-nav .nav-btn:hover {
        background-color: #FF1D50; }
  .main-page-home-page .detail-news .col-category .cate-box {
    position: relative;
    margin-bottom: 10px; }
    .main-page-home-page .detail-news .col-category .cate-box:hover img {
      transform: scale(1.1); }
    .main-page-home-page .detail-news .col-category .cate-box .cate-img {
      max-width: 220px;
      max-height: 220px;
      cursor: pointer;
      z-index: 1;
      overflow: hidden; }
    .main-page-home-page .detail-news .col-category .cate-box .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(18, 18, 19, 0.6);
      top: 0;
      left: 0;
      z-index: 2; }
    .main-page-home-page .detail-news .col-category .cate-box .box-text {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%);
      text-align: center; }
      .main-page-home-page .detail-news .col-category .cate-box .box-text b {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        color: #fff; }
      .main-page-home-page .detail-news .col-category .cate-box .box-text p {
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        color: #d3d7da;
        text-transform: capitalize; }

.main-page-home-page .detail-news .col-tab {
  padding-top: 20px;
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
  /* Style the tab content */
  /* Fade in tabs */ }
  @media only screen and (max-width: 768px) {
    .main-page-home-page .detail-news .col-tab .right-news-box {
      padding-top: 25px; } }
  .main-page-home-page .detail-news .col-tab .right-news-box .col-12 {
    padding-bottom: 25px; }
  .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog {
    display: flex;
    flex-direction: row; }
    .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .small-news-blog-img {
      max-width: 100px;
      max-height: 100px;
      overflow: hidden;
      flex: 1;
      position: relative;
      z-index: 1; }
      .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .small-news-blog-img .link-img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2; }
      .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .small-news-blog-img .play-video {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3; }
        .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .small-news-blog-img .play-video a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: black;
          background: white;
          padding: 7.5px 8.5px;
          border-radius: 50%;
          font-size: 12px; }
      .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .small-news-blog-img img {
        transition: .3s;
        width: 100%;
        height: 100%; }
      .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .small-news-blog-img:hover img {
        transform: scale(1.1); }
    .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .box-text {
      flex: 1;
      margin-left: 30px; }
      @media only screen and (max-width: 768px) {
        .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .box-text {
          margin-left: 30px !important; } }
      .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .box-text-title a {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: #494e51;
        transition: .3s ease-out; }
        .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .box-text-title a:hover {
          color: #FF1D50; }
      .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .box-text-author ul {
        display: flex;
        padding-top: 15px; }
        .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .box-text-author ul li {
          padding-right: 24px;
          font-size: 14px;
          color: #A6A9AB; }
          .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .box-text-author ul li a {
            color: #A6A9AB;
            transition: .3s ease-out;
            font-size: 12px; }
            .main-page-home-page .detail-news .col-tab .right-news-box .small-news-blog .box-text-author ul li a:hover {
              text-decoration: none;
              color: #FF1D50; }
  .main-page-home-page .detail-news .col-tab .tab {
    overflow: hidden;
    display: flex; }
  .main-page-home-page .detail-news .col-tab .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    color: #C1C6C9;
    flex: 1;
    border: 1px solid #D3D7DA;
    padding: 13.5px; }
  .main-page-home-page .detail-news .col-tab .tab button:hover {
    background-color: #FF2C54;
    color: #fff; }
  .main-page-home-page .detail-news .col-tab .tab button.active {
    background-color: #FF2C54;
    color: #fff; }
  .main-page-home-page .detail-news .col-tab .tabcontent {
    display: none;
    padding-top: 20px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; }

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.main-page-home-page .detail-news .col-tag {
  padding-top: 20px; }
  .main-page-home-page .detail-news .col-tag h4 {
    font-size: 18px;
    font-weight: 600;
    color: #121213; }
  .main-page-home-page .detail-news .col-tag .tag-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .main-page-home-page .detail-news .col-tag .tag-box a {
      color: #7F7D7B;
      border: 2px solid #D3D7DA;
      padding: 5px 7px;
      margin-bottom: 10px;
      margin-right: 10px;
      display: block; }

.main-page-home-page .detail-news .col-insta {
  padding-top: 20px; }
  .main-page-home-page .detail-news .col-insta h4 {
    font-size: 18px;
    font-weight: 600;
    color: #121213; }
  .main-page-home-page .detail-news .col-insta .img-box {
    display: flex;
    justify-content: space-between; }
    .main-page-home-page .detail-news .col-insta .img-box .img {
      max-width: 140px;
      max-height: 140px;
      overflow: hidden;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer; }
      .main-page-home-page .detail-news .col-insta .img-box .img:last-child {
        margin-right: unset; }
      .main-page-home-page .detail-news .col-insta .img-box .img:hover img {
        transform: scale(1.1);
        opacity: 0.8; }
      @media only screen and (max-width: 768px) {
        .main-page-home-page .detail-news .col-insta .img-box .img {
          max-width: 100%;
          max-height: 100%; } }
  .main-page-home-page .detail-news .col-insta .sub-box {
    padding-top: 15px; }
    .main-page-home-page .detail-news .col-insta .sub-box .btn-sub {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 16px;
      color: #fff;
      border: none;
      outline: none;
      background: #FF2C54;
      padding: 11px 30px;
      z-index: 1;
      position: relative; }
      .main-page-home-page .detail-news .col-insta .sub-box .btn-sub:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #E5284B;
        position: absolute;
        top: 0;
        left: 0;
        transition: .3s ease-out;
        z-index: -1; }
      .main-page-home-page .detail-news .col-insta .sub-box .btn-sub:hover:before {
        width: 100%; }

.main-page-home-page .food-drink .main-block .recent h4 {
  font-size: 24px;
  font-weight: 600;
  color: #121213; }

.main-page-home-page .food-drink .main-block .recent a {
  font-size: 14px;
  font-weight: 600;
  color: #121213;
  transition: .3s ease-out; }
  .main-page-home-page .food-drink .main-block .recent a:hover {
    color: #FF1D50; }

.main-page-home-page .food-drink .main-block .food-drink-img {
  padding-top: 25px;
  display: flex;
  justify-content: space-between; }
  .main-page-home-page .food-drink .main-block .food-drink-img .right-stories {
    max-width: 356px;
    max-height: 356px;
    margin-right: 30px; }
    .main-page-home-page .food-drink .main-block .food-drink-img .right-stories:last-child {
      margin-right: unset; }
    .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card {
      position: relative; }
      .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card:hover img {
        transform: scale(1.1); }
      .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card:hover .box-text {
        bottom: 50px; }
      .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card-img {
        max-width: 356px;
        max-height: 356px;
        overflow: hidden;
        z-index: 1; }
        .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card-img img {
          max-width: 810px;
          max-height: 610px; }
      .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(30, 30, 31, 0.46);
        z-index: 2;
        cursor: pointer; }
      .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card .box-text {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 30px;
        z-index: 3;
        transition: .3s ease-out; }
        .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card .box-text-title a {
          color: #fff;
          line-height: 25px;
          font-size: 18px;
          font-weight: 600; }
        .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card .box-text-author ul {
          display: flex;
          padding-top: 15px; }
          .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card .box-text-author ul li {
            padding-right: 24px;
            font-size: 14px;
            color: #CECED4; }
            .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card .box-text-author ul li a {
              color: #CECED4;
              transition: .3s ease-out; }
              .main-page-home-page .food-drink .main-block .food-drink-img .right-stories-card .box-text-author ul li a:hover {
                text-decoration: none;
                color: #FF1D50; }

.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 50px;
  width: 100%;
  background: #000000; }
  .footer hr {
    background: #fff;
    margin-top: 30px; }
  .footer .content-footer {
    display: flex;
    justify-content: space-between; }
    .footer .content-footer ul {
      color: #fff; }
      .footer .content-footer ul li:first-child {
        padding-bottom: 30px; }
      .footer .content-footer ul li h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 26px; }
      .footer .content-footer ul li a {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        color: #fff;
        transition: .3s ease-out; }
        .footer .content-footer ul li a:hover {
          color: #FF1D50; }
  .footer .lg-share {
    padding-top: 30px;
    display: flex;
    justify-content: space-between; }
    .footer .lg-share .logo-ft {
      max-height: 28px;
      max-width: 86px; }
    .footer .lg-share .contact-share {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .footer .lg-share .contact-share h4 {
        margin-right: 2rem;
        font-weight: 600;
        font-size: 18px;
        color: #fff; }
      .footer .lg-share .contact-share .social-share {
        margin-bottom: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden; }
        .footer .lg-share .contact-share .social-share li {
          margin-right: 1rem; }
          .footer .lg-share .contact-share .social-share li a {
            display: block;
            width: 2.6rem;
            height: 2.6rem;
            background: #121213;
            border-radius: 100%;
            font-size: 1.2rem;
            line-height: 2.6rem;
            color: #fff;
            text-align: center;
            transition: .3s ease-out; }
            .footer .lg-share .contact-share .social-share li a:hover {
              background: #FF2C54;
              color: #fff;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .footer .author {
    color: #fff;
    font-size: 14px; }
    .footer .author a {
      color: #FF1D50; }
  .footer a.cd-top {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #FF1D50 url("https://thinhweb.com/wp-content/themes/thinhweb/images/cd-top-arrow.svg") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s; }
    .footer a.cd-top .fa {
      color: black; }
  .footer a.cd-top.cd-is-visible, .footer a.cd-top.cd-fade-out, .footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  .footer a.cd-top, .footer a.cd-top:visited, .footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  .footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  .footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }
