﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a:hover{
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    padding:0;
    margin:0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-out;
}

a:hover{
    text-decoration: none;
}

@media only screen and (max-width:768px){
    html{
        overflow-x: hidden;
    }
}


/*--------------------------------------------CODDING------------------------------------------*/

$base-color: #FF1D50;
$title-color: #121213;

@mixin recent {

    h4 {
        font-size: 24px;
        font-weight: 600;
        color: #121213;
    }

    a {
        font-size: 14px;
        font-weight: 600;
        color: #121213;
        transition: .3s ease-out;

        &:hover {
            color: $base-color;
        }
    }
}

.fixed-header{
    position: fixed !important;
    top: 0;
    z-index: 999;
    background: #fff;
    transition: .1s ease-out;
}

.main-block {
    max-width: 1230px;
    margin: auto;

    .card {
        border: none;
        outline: none;
        border-radius: unset;

        .card-img-top {
            border-radius: unset;
            cursor: pointer;
        }
    }
}
/*--------------------------------------------------------------------------------TOP BAR----------------------------------------------------------------------------------*/
.overlay-header{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}

.show-with-only-opacity {
    opacity: 1 !important;
    visibility: visible !important;
}

.change-rotate{
    transform: rotate(90deg) !important;
}



.top-bar {
    background: #121213;
    width: 100%;

    @media only screen and (max-width: 768px){
        &{
            display: none;
        }
    }

    &-nav {
        max-width: 1230px;
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        &__right {
            a:hover {
                color: #FF2C54;
            }

        }

        ul {
            display: flex;

            li {
                padding-left: 20px;

                a {
                    color: #fff;
                    text-decoration: none;
                    transition: .3s ease-out;
                    font-size: 14px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            li:first-child {
                padding-left: unset;
            }
        }
    }
}


/*--------------------------------------------------------------------------------MAIN HEADER-------------------------------------------------------------------------------*/

.main-header {
    width: 100%;
    border: 1px solid #f0f0f0;
    position: relative;


    &-nav {
        max-width: 1230px;
        height: 86px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 768px) {
            & {
                padding: 0px 10px;
            }
        }

        &__left {
            flex: 1;
            margin-left: 40px;

            @media only screen and (max-width: 768px) {
                & {
                    display: none;
                }
            }

            li {
                padding-left: 30px;

                &:first-child {
                    padding-left: 0;
                }
            }

            .dropdown-for-child {
                position: absolute;
                width: 250px;
                margin: 32px 0;
                transition: .4s;
                background: #fff;
                -webkit-box-shadow: 0px 0px 35px 4px rgba(125,125,125,0.3);
                box-shadow: 0px 0px 35px 4px rgba(125,125,125,0.3);
                z-index: 99999;
                opacity: 0;
                visibility: hidden;

                .list-group-item {
                    padding: .75rem 1.25rem !important;
                    border: none;
                }
            }

            a {
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
                color: #121213;
                line-height: 24px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0%;
                    height: .15rem;
                    background: #121213;
                    transition: .3s ease-out;
                    opacity: 0;
                    visibility: hidden;
                }

                &:hover {
                    text-decoration: none;
                }

                &:hover:before {
                    animation: hover_to_nav_left 1s forwards;
                }

                @keyframes hover_to_nav_left {
                    0% {
                        width: 0%;
                        opacity: 0;
                        visibility: hidden;
                    }

                    100% {
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        &__right {

            li {
                padding-left: 20px;

                &:first-child {
                    padding-left: unset;
                }
            }


            button {
                color: #1E1E1F;
                transition: .3s ease-out;
                background-color: transparent;
                border: none;
                outline: none;

                &:hover {
                    color: #FF4367;
                }

                .fa {
                    font-size: 21px;
                    position: relative;

                    .badge {
                        position: absolute;
                        top: -2px;
                        right: -5px;
                        padding: 0px 5px;
                        border-radius: 50%;
                        background-color: #f00;
                        color: #fff;
                        font-size: 8px;
                        line-height: 16px;
                    }
                }
            }
        }

        ul {
            display: flex;
        }
    }


    .search-form-box {
        position: absolute;
        width: 100vw;
        height: 100%;
        background: #F9F9F9;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s;



        &__hidden {
            width: 60%;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);


            input {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background: 0 0;
                border-bottom: 1px solid #121213;
                padding: .4rem 0;
                padding-right: 3rem;
            }

            button {
                border: none;
                outline: none;
                background-color: transparent;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 8px 0px;


                .fa {
                    font-size: 18px;
                    line-height: 18px;
                    color: #D4D8DB;
                    transition: .3s ease-in;

                    &:hover {
                        color: #FF2C54;
                    }
                }
            }
        }

        &__close {
            position: relative;
            float: right;
            clear: both;
            right: 51px;
            bottom: 10px;

            button {
                background-color: transparent;
                border: none;
                outline: none;


                .fa {
                    font-size: 24px;
                    transition: .3s ease-in;

                    &:hover {
                        color: #FF2C54;
                    }
                }
            }
        }
    }
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 99999999;

    .gap {
        width: 100%;
        height: 100px;

        @media only screen and (max-width: 768px) {
            height: 150px;
        }

        @media only screen and (max-width: 576px) {
            height: 200px;
        }
    }


    @media screen and (max-height: 450px) {
        & {
            padding-top: 15px;
        }
    }

    .close-btn {
        position: absolute;
        top: 45px;
        right: 45px;
        font-size: 36px;
        margin-left: 50px;
        transition: .3s ease-out;
        overflow: hidden;

        a {
            color: #121213;

            &:hover {
                text-decoration: none;
            }
        }



        &:hover {
            text-decoration: none;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }



    .search-form-box {
        width: 100%;
        top: 0;
        left: 0;
        margin-top: 100px;

        &__hidden {
            width: 80%;
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);


            input {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background: 0 0;
                border-bottom: 1px solid #121213;
                padding: .4rem 0;
                padding-right: 3rem;
            }

            button {
                border: none;
                outline: none;
                background-color: transparent;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 8px 0px;


                .fa {
                    font-size: 18px;
                    line-height: 18px;
                    color: #D4D8DB;
                    transition: .3s ease-in;

                    &:hover {
                        color: #FF2C54;
                    }
                }
            }

            .detail-cate-box {
                padding-top: 50px;

                .category {
                    flex: 1;



                    a {
                        color: #121213;
                        font-size: 36px;
                        font-weight: bold;
                        text-transform: capitalize;
                        line-height: 1.5;
                        transition: .3s;

                        &:hover {
                            text-decoration: none;
                            color: #FF1D50;
                        }
                    }
                }

                .contact {
                    flex: 1;

                    &-add {

                        h4 {
                            line-height: 2;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        p {
                            font-size: 15px;
                            color: #6B7074;
                            line-height: 28px;
                        }
                    }

                    &-phone {
                        margin-top: 30px;

                        h4 {
                            line-height: 2;
                            font-size: 18px;
                            font-weight: 600;
                            transition: .3s;
                        }

                        a {
                            font-size: 16px;
                            color: #494E51;
                            line-height: 28px;

                            &:hover {
                                text-decoration: none;
                                color: #FF1D50;
                            }
                        }
                    }

                    &-share {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        margin-top: 3.5rem;

                        h4 {
                            margin-right: 2rem;
                            margin-bottom: 2rem;
                            font-weight: 600;
                            font-size: 18px;
                        }

                        .social-share {
                            margin-bottom: 1rem;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            overflow: hidden;

                            li {
                                margin-right: 1rem;

                                a {
                                    display: block;
                                    width: 2.6rem;
                                    height: 2.6rem;
                                    background: #121213;
                                    border-radius: 100%;
                                    font-size: 1.2rem;
                                    line-height: 2.6rem;
                                    color: #fff;
                                    text-align: center;
                                    transition: .3s ease-out;

                                    &:hover {
                                        background: #FF2C54;
                                        color: #fff;
                                        -webkit-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




/*-----------------------------------------------------------------------------MAIN PAGE HOME PAGE---------------------------------------------------------------------------*/



.main-page-home-page {

    section {
        margin-top: 60px;
    }

    @media only screen and (max-width: 768px) {
        & {
            padding: 10px;
        }
    }

    .big-title {
        font-size: 28px;
        font-weight: 600;
        line-height: 45px;
    }

    

    .blog-news {

        .recent {
            @include recent;
        }

        .big-news-blog {



            &-img {
                overflow: hidden;
                max-height: 600px;
                max-width: 600px;
            }

            .card-body {
                padding: 27px 28px 0px 0px;

                ul {
                    display: flex;
                    padding-top: 15px;

                    li {
                        padding-right: 24px;
                        font-size: 14px;
                        color: #A6A9AB;

                        a {
                            color: #A6A9AB;
                            transition: .3s ease-out;

                            &:hover {
                                text-decoration: none;
                                color: #FF1D50;
                            }
                        }
                    }
                }
            }

            .big-title {
                color: #121213;
                transition: .3s ease-out;

                &:hover {
                    color: #FF1D50;
                    text-decoration: none;
                }
            }

            .card-img-top {
                transition: .3s ease-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }


        .right-news-box {

            @media only screen and (max-width: 768px) {
                & {
                    padding-top: 25px;
                }
            }

            .col-12 {
                padding-bottom: 25px;
            }

            .recent {

                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #121213;
                }

                a {
                    font-size: 14px;
                    font-weight: 600;
                    color: #121213;
                    transition: .3s ease-out;

                    &:hover {
                        color: $base-color;
                    }
                }
            }

            .small-news-blog {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;




                .small-news-blog-img {
                    max-width: 150px;
                    max-height: 150px;
                    overflow: hidden;
                    flex: 1;

                    img {
                        transition: .3s;
                    }

                    &:hover img {
                        transform: scale(1.1);
                    }
                }

                .box-text {
                    flex: 1;
                    margin-left: 30px;

                    &-list {
                        margin: 3px 1rem 1rem 0;


                        a {
                            background-color: #5856D5;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            font-size: 11px;
                            font-weight: 700;
                            padding: 3px 10px;
                        }
                    }

                    &-title {
                        a {
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 28px;
                            color: $title-color;
                            transition: .3s ease-out;

                            &:hover {
                                color: $base-color;
                            }
                        }
                    }

                    &-author {
                        ul {
                            display: flex;
                            padding-top: 15px;

                            li {
                                padding-right: 24px;
                                font-size: 14px;
                                color: #A6A9AB;

                                a {
                                    color: #A6A9AB;
                                    transition: .3s ease-out;

                                    &:hover {
                                        text-decoration: none;
                                        color: #FF1D50;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .top-stories {
        background: #F9F9F9;
        padding-top: 60px;

        .recent {
            @include recent;
        }

        .col-12 {
            padding-bottom: 30px;
        }

        .right-stories {
            &-card {

                &:hover img {
                    transform: scale(1.1);
                }

                &-img {
                    max-width: 810px;
                    max-height: 610px;
                    overflow: hidden;
                    z-index: 1;

                    img {
                        max-width: 810px;
                        max-height: 610px;
                    }
                }

                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(30, 30, 31, 0.46);
                    z-index: 2;
                    cursor: pointer;
                }

                .box-text {
                    width: 90%;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    bottom: 51px;
                    z-index: 3;

                    &-list {
                        margin-bottom: 10px;

                        a {
                            background-color: #5856D5;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            font-size: 11px;
                            font-weight: 600;
                            padding: 3px 10px;
                        }
                    }

                    &-title {
                        a {
                            color: #fff;
                            line-height: 33px;
                        }
                    }

                    &-author {
                        ul {
                            display: flex;
                            padding-top: 15px;

                            li {
                                padding-right: 24px;
                                font-size: 14px;
                                color: #CECED4;

                                a {
                                    color: #CECED4;
                                    transition: .3s ease-out;

                                    &:hover {
                                        text-decoration: none;
                                        color: #FF1D50;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .left-stories {


            &-card {

                &:hover img {
                    transform: scale(1.1);
                }

                &-img {
                    max-width: 390px;
                    max-height: 290px;
                    overflow: hidden;
                    z-index: 1;

                    img {
                        max-width: 390px;
                        max-height: 290px;
                    }
                }

                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(30, 30, 31, 0.46);
                    z-index: 2;
                    cursor: pointer;
                }

                .box-text {
                    width: 90%;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    bottom: 51px;
                    z-index: 3;

                    &-list {
                        margin-bottom: 10px;

                        a {
                            background-color: #5856D5;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            font-size: 11px;
                            font-weight: 600;
                            padding: 3px 10px;
                        }
                    }

                    &-title {
                        a {
                            color: #fff;
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }

                    &-author {
                        ul {
                            display: flex;
                            padding-top: 15px;

                            li {
                                padding-right: 24px;
                                font-size: 14px;
                                color: #CECED4;

                                a {
                                    color: #CECED4;
                                    transition: .3s ease-out;

                                    &:hover {
                                        text-decoration: none;
                                        color: #FF1D50;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .video {

        .main-block {
            padding: 60px 0px;
        }

        background: #000000;

        .recent {
            @include recent;

            h4 {
                color: #fff;
            }

            a {
                color: #fff;
            }
        }

        .right-stories {
            &-card {

                &:hover img {
                    transform: scale(1.1);
                }

                &-img {
                    max-width: 1012px;
                    max-height: 450px;
                    overflow: hidden;
                    z-index: 1;
                }

                .play-video {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(30, 30, 31, 0.46);
                    z-index: 2;
                    cursor: pointer;


                    a {
                        color: #121213;
                        font-size: 30px;
                        background: #fff;
                        padding: 30px 33px;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        z-index: 9;

                        &:hover {
                            color: none;
                            text-decoration: none;
                        }
                    }
                }

                .box-text {
                    width: 90%;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    bottom: 51px;
                    z-index: 3;

                    &-list {
                        margin-bottom: 10px;

                        a {
                            background-color: #5856D5;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            font-size: 11px;
                            font-weight: 600;
                            padding: 3px 10px;
                        }
                    }

                    &-title {
                        a {
                            color: #fff;
                            line-height: 33px;
                        }
                    }

                    &-author {
                        ul {
                            display: flex;
                            padding-top: 15px;

                            li {
                                padding-right: 24px;
                                font-size: 14px;
                                color: #CECED4;

                                a {
                                    color: #CECED4;
                                    transition: .3s ease-out;

                                    &:hover {
                                        text-decoration: none;
                                        color: #FF1D50;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .right-news-box {

            @media only screen and (max-width: 768px) {
                & {
                    padding-top: 25px;
                }
            }

            .col-12 {
                padding-bottom: 25px;
            }


            .small-news-blog {
                display: flex;
                flex-direction: row;



                .small-news-blog-img {
                    max-width: 100px;
                    max-height: 100px;
                    overflow: hidden;
                    flex: 1;
                    position: relative;
                    z-index: 1;

                    .link-img {
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                    }

                    .play-video {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 3;

                        a {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: black;
                            background: white;
                            padding: 7.5px 8.5px;
                            border-radius: 50%;
                            font-size: 12px;
                        }
                    }

                    img {
                        transition: .3s;
                        width: 100%;
                        height: 100%;
                    }

                    &:hover img {
                        transform: scale(1.1);
                    }
                }

                .box-text {
                    flex: 1;
                    margin-left: 30px;


                    &-title {
                        a {
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 22px;
                            color: #fff;
                            transition: .3s ease-out;

                            &:hover {
                                color: $base-color;
                            }
                        }
                    }

                    &-author {
                        ul {
                            display: flex;
                            padding-top: 15px;

                            li {
                                padding-right: 24px;
                                font-size: 14px;
                                color: #A6A9AB;

                                a {
                                    color: #A6A9AB;
                                    transition: .3s ease-out;
                                    font-size: 12px;

                                    &:hover {
                                        text-decoration: none;
                                        color: #FF1D50;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .detail-news {
        .right-news-box {

            @media only screen and (max-width: 768px) {
                & {
                    padding-top: 25px;
                }
            }

            .col-12 {
                padding-bottom: 25px;
            }

            .recent {

                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #121213;
                }

                a {
                    font-size: 14px;
                    font-weight: 600;
                    color: #121213;
                    transition: .3s ease-out;

                    &:hover {
                        color: $base-color;
                    }
                }
            }

            .small-news-blog {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                @media only screen and (max-width: 768px) {

                    & {
                        flex-direction: column;
                    }

                    .box-text {
                        margin-left: unset !important;
                    }
                }


                .small-news-blog-img {
                    max-width: 356px;
                    max-height: 356px;
                    overflow: hidden;
                    flex: 1;

                    @media only screen and (max-width: 768px) {
                        & {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    img {
                        transition: .3s;
                    }

                    &:hover img {
                        transform: scale(1.1);
                    }
                }

                .box-text {
                    flex: 1;
                    margin-left: 30px;

                    &-list {
                        margin: 3px 1rem 1rem 0;


                        a {
                            background-color: #5856D5;
                            color: #FFFFFF;
                            text-transform: uppercase;
                            font-size: 11px;
                            font-weight: 700;
                            padding: 3px 10px;
                        }
                    }

                    &-title {
                        a {
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 34px;
                            color: $title-color;
                            transition: .3s ease-out;

                            &:hover {
                                color: $base-color;
                            }
                        }
                    }

                    &-author {
                        ul {
                            display: flex;
                            padding-top: 15px;

                            li {
                                padding-right: 24px;
                                font-size: 14px;
                                color: #A6A9AB;

                                a {
                                    color: #A6A9AB;
                                    transition: .3s ease-out;

                                    &:hover {
                                        text-decoration: none;
                                        color: #FF1D50;
                                    }
                                }
                            }
                        }
                    }

                    &-desc {
                        padding-top: 10px;

                        p {
                            font-size: 16px;
                            font-weight: 400;
                            color: #494e51;
                            line-height: 28px;
                        }
                    }
                }
            }
        }

        .col-form {
            background: #F9F9F9;

            .form-box {
                width: 100%;
                padding: 20px;


                .box-text {
                    .fa {
                        font-size: 22px;
                        font-weight: 400;
                        color: #ff2c54;
                        background: #FAE4E9;
                        line-height: 62px;
                        width: 60px;
                        height: 60px;
                        text-align: center;
                        border-radius: 50%;
                    }

                    h3 {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 36px;
                        color: #121213;
                        padding-bottom: 15px;
                        padding-top: 15px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        color: #494e51;
                        padding-bottom: 15px;
                    }
                }

                .input {
                    position: relative;


                    &:focus-within label {
                        font-size: 12px;
                        top: -8%;
                        transform: translateY(0%);
                        background-color: transparent;
                        z-index: 9;
                        background-color: #F9F9F9;
                        padding: 0px 5px;
                        color: #FF2C54;
                    }

                    &:focus-within input {
                        border-color: #FF2C54;
                    }

                    input {
                        border: 2px solid #D3D7DA;
                        width: 100%;
                        height: 40px;
                        padding-left: 5%;
                        outline: none;
                        -webkit-appearance: none;
                        transition: .3s ease-out;
                        background-color: transparent;
                    }



                    label {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 5%;
                        font-size: 14px;
                        font-weight: 400;
                        color: #494e51;
                        transition: .3s ease-out;
                    }
                }

                .sub-box {
                    padding-top: 15px;

                    .btn-sub {
                        font-size: 12px;
                        font-weight: 700;
                        text-transform: uppercase;
                        line-height: 16px;
                        color: #fff;
                        border: none;
                        outline: none;
                        background: #FF2C54;
                        padding: 11px 30px;
                        z-index: 1;
                        position: relative;



                        &:before {
                            content: "";
                            width: 0%;
                            height: 100%;
                            background: #E5284B;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: .3s ease-out;
                            z-index: -1;
                        }

                        &:hover:before {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .col-category {

            h4 {
                font-size: 18px;
                font-weight: 600;
                color: #121213;
            }

            padding-top: 30px;

            .owl-carousel {
            }

            .owl-nav {
                position: absolute;
                top: -17%;
                right: 0;

                button {
                    border: none;
                    outline: none;
                }

                .nav-btn {
                    background: #D3D7DA;
                    padding: 6px 11px;
                    color: #fff;
                    transition: .3s ease-out;

                    &:hover {
                        background-color: $base-color;
                    }
                }
            }


            .cate-box {
                position: relative;
                margin-bottom: 10px;

                &:hover img {
                    transform: scale(1.1);
                }


                .cate-img {
                    max-width: 220px;
                    max-height: 220px;
                    cursor: pointer;
                    z-index: 1;
                    overflow: hidden;
                }

                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(18,18,19,.6);
                    top: 0;
                    left: 0;
                    z-index: 2;
                }

                .box-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 3;
                    transform: translate(-50%, -50%);
                    text-align: center;

                    b {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 36px;
                        color: #fff;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 22px;
                        color: #d3d7da;
                        text-transform: capitalize;
                    }
                }
            }
        }

        .col-tab {
            padding-top: 20px;

            .right-news-box {

                @media only screen and (max-width: 768px) {
                    & {
                        padding-top: 25px;
                    }
                }

                .col-12 {
                    padding-bottom: 25px;
                }


                .small-news-blog {
                    display: flex;
                    flex-direction: row;



                    .small-news-blog-img {
                        max-width: 100px;
                        max-height: 100px;
                        overflow: hidden;
                        flex: 1;
                        position: relative;
                        z-index: 1;

                        .link-img {
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                        }

                        .play-video {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            z-index: 3;

                            a {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: black;
                                background: white;
                                padding: 7.5px 8.5px;
                                border-radius: 50%;
                                font-size: 12px;
                            }
                        }

                        img {
                            transition: .3s;
                            width: 100%;
                            height: 100%;
                        }

                        &:hover img {
                            transform: scale(1.1);
                        }
                    }

                    .box-text {
                        flex: 1;
                        margin-left: 30px;

                        @media only screen and (max-width: 768px) {
                            & {
                                margin-left: 30px !important;
                            }
                        }


                        &-title {
                            a {
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 22px;
                                color: #494e51;
                                transition: .3s ease-out;

                                &:hover {
                                    color: $base-color;
                                }
                            }
                        }

                        &-author {
                            ul {
                                display: flex;
                                padding-top: 15px;

                                li {
                                    padding-right: 24px;
                                    font-size: 14px;
                                    color: #A6A9AB;

                                    a {
                                        color: #A6A9AB;
                                        transition: .3s ease-out;
                                        font-size: 12px;

                                        &:hover {
                                            text-decoration: none;
                                            color: #FF1D50;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .tab {
                overflow: hidden;
                display: flex;
            }
            /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.3s;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 16px;
                color: #C1C6C9;
                flex: 1;
                border: 1px solid #D3D7DA;
                padding: 13.5px;
            }
            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #FF2C54;
                color: #fff;
            }
            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #FF2C54;
                color: #fff;
            }
            /* Style the tab content */
            .tabcontent {
                display: none;
                padding-top: 20px;
                -webkit-animation: fadeEffect 1s;
                animation: fadeEffect 1s;
            }
            /* Fade in tabs */
            @-webkit-keyframes fadeEffect {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @keyframes fadeEffect {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }

        .col-tag {
            padding-top: 20px;

            h4 {
                font-size: 18px;
                font-weight: 600;
                color: #121213;
            }

            .tag-box {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                a {
                    color: #7F7D7B;
                    border: 2px solid #D3D7DA;
                    padding: 5px 7px;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    display: block;
                }
            }
        }

        .col-insta {
            padding-top: 20px;

            h4 {
                font-size: 18px;
                font-weight: 600;
                color: #121213;
            }

            .img-box {
                display: flex;
                justify-content: space-between;

                .img {
                    max-width: 140px;
                    max-height: 140px;
                    overflow: hidden;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    cursor: pointer;

                    &:last-child {
                        margin-right: unset;
                    }

                    &:hover img {
                        transform: scale(1.1);
                        opacity: 0.8;
                    }

                    @media only screen and (max-width: 768px) {
                        & {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }

            .sub-box {
                padding-top: 15px;

                .btn-sub {
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 16px;
                    color: #fff;
                    border: none;
                    outline: none;
                    background: #FF2C54;
                    padding: 11px 30px;
                    z-index: 1;
                    position: relative;



                    &:before {
                        content: "";
                        width: 0%;
                        height: 100%;
                        background: #E5284B;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: .3s ease-out;
                        z-index: -1;
                    }

                    &:hover:before {
                        width: 100%;
                    }
                }
            }
        }
    }

    .food-drink {

        .main-block {
            .recent {
                @include recent;
            }

            .food-drink-img {
                padding-top: 25px;
                display: flex;
                justify-content: space-between;

                .right-stories {
                    max-width: 356px;
                    max-height: 356px;
                    margin-right: 30px;

                    &:last-child{
                        margin-right: unset;
                    }

                    &-card {
                        position: relative;

                        &:hover img {
                            transform: scale(1.1);
                        }

                        &:hover .box-text{
                            bottom: 50px;
                        }

                        &-img {
                            max-width: 356px;
                            max-height: 356px;
                            overflow: hidden;
                            z-index: 1;

                            img {
                                max-width: 810px;
                                max-height: 610px;
                            }
                        }

                        .overlay {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: rgba(30, 30, 31, 0.46);
                            z-index: 2;
                            cursor: pointer;
                        }

                        .box-text {
                            width: 90%;
                            left: 50%;
                            transform: translateX(-50%);
                            position: absolute;
                            bottom: 30px;
                            z-index: 3;
                            transition: .3s ease-out;

                            &-title {
                                a {
                                    color: #fff;
                                    line-height: 25px;
                                    font-size: 18px;
                                    font-weight: 600;
                                }
                            }

                            &-author {
                                ul {
                                    display: flex;
                                    padding-top: 15px;

                                    li {
                                        padding-right: 24px;
                                        font-size: 14px;
                                        color: #CECED4;

                                        a {
                                            color: #CECED4;
                                            transition: .3s ease-out;

                                            &:hover {
                                                text-decoration: none;
                                                color: #FF1D50;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 50px;
    width: 100%;
    background: #000000;

    hr {
        background: #fff;
        margin-top: 30px;
    }

    .content-footer {
        display: flex;
        justify-content: space-between;

        ul {
            color: #fff;

            li {

                &:first-child {
                    padding-bottom: 30px;
                }

                h4 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px;
                }

                a {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 30px;
                    color: #fff;
                    transition: .3s ease-out;

                    &:hover {
                        color: $base-color;
                    }
                }
            }
        }
    }

    .lg-share {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;

        .logo-ft {
            max-height: 28px;
            max-width: 86px;
        }

        .contact-share {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            h4 {
                margin-right: 2rem;
                font-weight: 600;
                font-size: 18px;
                color: #fff;
            }

            .social-share {
                margin-bottom: 1rem;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;
                margin: 0;
                overflow: hidden;

                li {
                    margin-right: 1rem;

                    a {
                        display: block;
                        width: 2.6rem;
                        height: 2.6rem;
                        background: #121213;
                        border-radius: 100%;
                        font-size: 1.2rem;
                        line-height: 2.6rem;
                        color: #fff;
                        text-align: center;
                        transition: .3s ease-out;

                        &:hover {
                            background: #FF2C54;
                            color: #fff;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }

    .author {
        color: #fff;
        font-size: 14px;

        a {
            color: $base-color;
        }
    }

    a.cd-top {
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        border-radius: 50%; 
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: $base-color url("https://thinhweb.com/wp-content/themes/thinhweb/images/cd-top-arrow.svg") no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;

        .fa {
            color: black;
        }
    }

    a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    a.cd-top, a.cd-top:visited, a.cd-top:hover {
        color: #CCCCCC;
        text-decoration: none;
    }

    a.cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    a.cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
}